.user-profile-card {
  width: 100%;
  padding: 30px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.user-profile-card-content {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  padding: 0px 15px;
}
.user-profile-card-content-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.user-profile-card-img {
  width: 210px;
  height: 210px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.user-profile-card-name,
.user-profile-card-isClosed {
  font-size: 18px;
  font-weight: 600;
}
.user-profile-card-content-right {
  width: 70%;
}
.user-profile-card-description {
  p {
    font-size: 18px;
    font-weight: 600;
  }
}
