.user-name {
  display: inline-block;
  color: var(--text-header-color);
}

.user-name--short {
  display: inline;
  padding: 8px 10px;
  color: var(--text-header-color);
  background-color: rgb(21, 33, 139);
  margin-right: 8px;
}
