.registration-form {
  align-self: center;
  margin-top: 50px;
}
.registration-form-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 0px 5px var(--signInForm-box-shadow-color);
}
.registration-form-name,
.registration-form-password,
.registration-form-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.registration-form-label {
  font-size: 14px;
  color: var(--text-color);
}
.registration-form-input {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.87);
}
.registration-form-button {
  background-color: var(--button-bg);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
  color: var(--button-text-color);
}
.registration-form-text {
  text-align: center;
}
